<header>
    <h1>Informations Utilisateur</h1>
    <nav>
      <a href="#">Tableau de Bord</a>
      <a routerLink="/sign-in">Se Déconnecter</a>
    </nav>
  </header>
  
  <main>
    <section class="user-info-section">
      <h2>Modifier vos informations</h2>
      
      <form (submit)="saveUserInfo()" class="user-info-form">
        
        <!-- Pseudo -->
        <div class="form-group">
          <label for="pseudo">Pseudo</label>
          <input 
            type="text" 
            id="pseudo" 
            [(ngModel)]="userInfo.pseudo" 
            name="pseudo" 
            class="form-control" 
            placeholder="Entrez votre pseudo">
        </div>
  
        <!-- Prénom -->
        <div class="form-group">
          <label for="name">Prénom</label>
          <input 
            type="text" 
            id="name" 
            [(ngModel)]="userInfo.name" 
            name="name" 
            class="form-control" 
            placeholder="Entrez votre prénom">
        </div>
  
        <!-- Mot de passe -->
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input 
            type="password" 
            id="password" 
            [(ngModel)]="userInfo.password" 
            name="password" 
            class="form-control" 
            placeholder="Entrez un nouveau mot de passe">
        </div>
        <!-- Email -->
        <div class="form-group">
          <label for="email">Email</label>
          <input 
            type="email" 
            id="email" 
            [(ngModel)]="userInfo.email" 
            name="email" 
            class="form-control" 
            placeholder="Entrez votre email">
        </div>
        
        <!-- Bouton de validation -->
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    
          </form>
  
    </section>
  </main>
  