
    <header>
        <h1>Mon Tableau de Bord</h1>
        <nav>
            <a href="#">Mes Projets Partagés</a>
            <a href="#">Modifier Mes Informations</a>
            <a routerLink="/sign-in">Se Déconnecter</a>

        </nav>
    </header>

    <main>
        <section class="todo-section">
            <h2>To-Do List</h2>
            <div class="form-group">
                <input 
                    type="text" 
                    placeholder="Add a new task" 
                    [(ngModel)]="newTask.name" 
                    class="form-control">
                <input 
                    type="date" 
                    [(ngModel)]="newTask.date" 
                    class="form-control mt-2" 
                    placeholder="Assign a day (optional)">
                <input 
                    type="time" 
                    [(ngModel)]="newTask.time" 
                    class="form-control mt-2" 
                    placeholder="Assign a time (optional)">
                <button 
                    (click)="addTask()" 
                    class="btn btn-primary mt-2">Add Task</button>
            </div>
            <ul class="list-group mt-3">
                <li 
                    *ngFor="let task of tasks" 
                    class="list-group-item d-flex justify-content-between align-items-center"
                    draggable="true" 
                    [attr.data-task-name]="task.name" 
                    (dragstart)="onDragStart($event, task)"
                    (dragend)="onDragEnd($event)"
                    >
                    <div class="d-flex align-items-center">
                        <input 
                            type="checkbox" 
                            [(ngModel)]="task.completed" 
                            (change)="toggleTask(task)" 
                            class="form-check-input me-2">
                        <span [class.completed]="task.completed">
                            {{ task.name }}
                        </span>
                        <small *ngIf="task.date || task.time" class="text-muted ms-3">
                            {{ task.date ? task.date : '' }} {{ task.time ? task.time : '' }}
                        </small>
                    </div>
                    <button 
                        (click)="deleteTask(task)" 
                        class="btn btn-sm btn-danger">Delete</button>
                </li>
            </ul>
        </section>
        

        <section class="schedule-section">
            <div class="calendar-container">
                <full-calendar [options]="calendarOptions"></full-calendar>
              </div>
              
        </section>
    </main>
