<header>
    <h1>DashBoard</h1>
    <nav>
    </nav>
</header>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/shared-tasks">Shared Tasks</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/user-informations">Update personal informations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/logout">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>